@media (max-width: 1400px) {
  .hide-on-pc {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hide-on-tablet {
    display: none;
  }
  .hero-achievement {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-on-moblile {
    display: none;
  }

  .hero {
    flex-direction: column;
  }
}
