.main-destinations {
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 800px;
        width: 100%;
    }
    span  {
        color: $color-1;
        text-align: center;
        font-size: 13.6rem;
        font-weight: 700;
        position: absolute;
        top: 1%;
        right: 23%;
        line-height: 15rem;
        display: block;
        margin-top: 300px;
       }
    h4 {
        color: #fff;
        text-align: center;
        position: absolute;
        top: 58%;
        right: 42%;
        font-family: Inter;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 3.2rem;
        margin-top: 6px;
    }

}

.destinations-list {
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 940px;
    .destinations-item {
        width: 16.6667%;
        flex-direction: column-reverse;
        align-items: start;

        h4 {
            color: $typography-1;
            font-family: Inter;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 3.2rem;
            padding-top: 20px;
        }
    }
}