.header {
    justify-content: space-between;
    align-items: center;
    height: calc(48px + 32px);
    background-color: rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    z-index: 99;
    .header-logo {
        gap: 8px;
        p {
            color: #212832;
            font-family: Inter;
            font-size: 2.4rem;
            font-weight: 700;
            span {
                color: #FF7B29;
            }
        }
    }

    .nav-bar__btn {
        font-size: 2.6rem;
        color: #fff;
        display: none;
    }

}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.03);
}



.main-destinations {
    background: url(/imgs/header-destinations.png) center/cover no-repeat ;
    width: 100vw;
    height: 800px;
    h4 {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 3.2rem;
        margin-top: 6px;
    }
}

.main-destinations {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    span  {
        color: $color-1;
        text-align: center;
        font-size: 13.6rem;
        font-weight: 700;
        line-height: 15rem;
        display: block;
        margin-top: 300px;
       }
}