.header {
    justify-content: space-between;
    align-items: center;
    height: calc(48px + 32px);
    background-color: rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    z-index: 99;
    .header-logo {
        gap: 8px;
        p {
            color: #212832;
            font-family: Inter;
            font-size: 2.4rem;
            font-weight: 700;
            span {
                color: #FF7B29;
            }
        }
    }

    .header-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .nav-bar__btn {
            font-size: 2.6rem;
            color: #000;
            display: none;
            cursor: pointer;
        }
    }


}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.08);
    display: none;
}

.nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    width: 320px;
    max-width: 100%;
    transform: translateX(150%);
    transition: all ease-in-out .3s;
    .nav-mobile__close {
        font-size: 3rem;
        position: absolute;
        top: 7px ;
        right: 33px;
        color: #666;
        cursor: pointer;
    }
    ul li {
        display: block;
        margin: 30px;
        a {
            font-size: 1.8rem;
            padding: 18px 12px;
        }
    }
}

.nav-input:checked ~ .nav-overlay {
    display: block;
}

.nav-input:checked ~ .nav-mobile {
    transform: translateX(0%);
}

.main-destinations {
    background: url(/imgs/header-destinations.png) center/cover no-repeat ;
    width: 100vw;
    height: 800px;
    h4 {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 3.2rem;
        margin-top: 6px;
    }
}

.main-destinations {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    span  {
        color: $color-1;
        text-align: center;
        font-size: 13.6rem;
        font-weight: 700;
        line-height: 15rem;
        display: block;
        margin-top: 300px;
       }
}