html {
    font-size: 62.5%;
    font-family: "Poppins",sans-serif;
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    max-width: 1920px;
    overflow-x: hidden;
    padding: 0 20px;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


